# Python build artifacts
build/
dist/
*.egg-info/
__pycache__/

# Node build artifacts
wavesurfer_player/frontend/build/
wavesurfer_player/frontend/node_modules/

# IDE and OS files
.idea/
.vscode/
.DS_Store
